/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 100%;
}

/*HEADER*/
.header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.header-section{
    width: 30%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 75px;
    height: 30px;
}

.header-links{
    text-decoration: none;
    color: rgb(24, 24, 24);
}

.header-button{
    padding: 10px 20px;
    background-color: rgb(61, 61, 169);
    color: white;
}

.jumbotron-container{
    width: 100%;
    min-height: 600px;
    background-color: rgb(201, 252, 252);
}

.jumbotron-title{
    width: 70%;
    height: 150px;
    margin: auto;
    font-size: 30px;
}

.jumbotron{
    width: 70%;
    height: 400px;
    margin: auto;
    display: flex;
}

.jumbotron-text{
    width: 35%;
    height: 500px;
    padding-top: 30px;
    margin-top: 30px;
}

.start-content{
    margin: 60px;
}

.start-link{
    text-decoration: none;
    padding: 15px 30px;
    background-color: rgb(61, 61, 169);
    color: white;
}

.start-content2{
    padding-top: 50px; 
}

.arrow{
    margin-top: 60px;
}

.jumbotron-image{
    width: 65%;
    height: 450px;
}

.jumbo-png{
    position: relative;
    margin-top: 70px;
}

.main-title{
    width: 70%;
    height: 160px;
    margin: auto;
}

.h2{
    padding-top: 50px;
}

.radio-button{
    padding-top:40px
}



.first-main-section{
    width: 70%;
    min-height: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


.vertical-column{
    width: calc(100% / 3 - 40px);
    min-height: 1000px;
    border: 1px solid black;
}

.row{
    width: 100%;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    line-height:50px ;
    text-align: center;
}

.h3-column{
    margin-top: 20px;
    margin-left: 30px;
}

.h4-column{
    margin-left: 30px;
    margin-top: 40px;  
}

.folder{
    margin-left: 30px;
    margin-top: 25px;  
}

.begin1{
    margin-left: 30px; 
    margin-top: 85px;
}

.begin2{
    margin-left: 30px; 
    margin-top: 70px; 
}



.begin3{
    margin-left: 30px;
    margin-top: 55px;
}

.purchase-link{
    margin-left: 30px;
    margin-top: 45px;
}

.description-title{
    margin-left: 30px;
    margin-top: 150px;
}

.points{
    margin-left: 5px;
    margin-top: 30px; 
}

.check{
    color: rgb(49, 49, 212);
}

.second-main-section-title{
    width: 70%;
    min-height: 60px;
    margin-top: 40px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid black; 
}

.second-main-section{
    width: 70%;
    min-height: 300px;
    margin: auto;
    border: 1px solid black;
    display: flex;
}

.second-main-section-text{
    width: 70%;
    min-height: 300px;
}

.h3-section-text{
    margin-left: 30px;
    margin-top: 45px;
}

.h4-section-text{
    margin-left: 30px;
    margin-top: 40px;
}

.p-section-text{
    margin-left: 30px;
    margin-top: 80px;
}

.second-main-section-button{
    width: 30%;
    min-height: 300px;
}

.second-main-button{
    margin-left: 60px;
    margin-top: 35px;
}

.contact-center{
    text-decoration: none;
    padding: 15px 30px;
    background-color: rgb(61, 61, 169);
    color: white;  
}

.third-main-section{
    width: 70%;
    min-height: 600px;
    margin: 40px auto;
    display: flex;
}

.third-section-image{
    width: 65%;
    min-height: 600px;
}

.third-section-text{
    width: 35%;
    min-height: 600px;
}

.text-third-block-title{
    margin-left: 30px;
    margin-top: 40px;
}

.text-third-block-paragraph{
    margin-top: 50px;
    margin-left: 30px;
}

.button-link-third-block{
    margin-left: 30px;
    margin-top: 60px;
}

.link-third-block{
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(23, 23, 23);
    background-color: white;
    border: 1px solid rgb(23, 23, 23);
}

.fourth-main-section{
    width: 70%;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
    margin-top: 40px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.fifth-main-section{
    width: 70%;
    min-height: 600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.fifth-column-left{
    width: calc(100% / 3 - 20px);
    min-height: 600px;
}

.fifth-column-center{
    width: calc(100% / 3 - 20px);
    min-height: 600px; 
}

.fifth-column-right{
    width: calc(100% / 3 - 20px);
    min-height: 600px; 
}

.sub-section-column{
    width: 100%;
    height: 50%;
}

.text-of-fifth-column{
    margin-top: 20px;
}

.ph-of-fifth-column{
    margin-top: 50px;
}

.sixth-main-section{
    width: 70%;
    min-height: 600px;
    margin-top: 40px;
    margin-bottom: 90px;
    margin-left: auto;
    margin-right: auto; 
    display: flex; 
    justify-content: space-between;
}

.seventh-main-section{
    width: 70%;
    min-height: 350px;
    margin:auto;
}

.seventh-main-title{
    padding-top: 70px;
}

.seventh-main-link{
    margin-top: 90px;
}

.central-logo{
    margin-top: 40px;
    margin-left: 40px;
}

.paragraph-designit{
    margin-left: 40px;
    margin-top: 60px
}

.heading-designit{
    margin-left: 40px;
    margin-top: 60px 
}

.eighth-main-section{
    width: 100%;
    display: flex;
}

.left{
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: calc(100% / 2);
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square-icons{
    width: 140px;
    color: white;
}

.square-icons2{
    width: 100px;
}

.division{
    width: calc(100% / 3);
    aspect-ratio: 1;
}

.center{
    background-color: rgb(234, 234, 234);
}

.right{
    display: flex;
    flex-wrap: wrap; 
}

.ninth-main-section{
    width: 100%;
    min-height: 300px;
    background-color: rgb(201, 252, 252); 
}

.ninth-sub-section{
    width: 70%;
    min-height: 300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ninth-h2-title{
    color: brown;
}

.ninth-button{
    padding: 10px 25px;
    text-decoration: none;
    color: rgb(27, 27, 27);
    background-color: white;
}

.tithe-main-section{
    width: 60%;
    min-height: 700px;
    margin: auto;
}

.tithe-main-title{
    padding-top: 100px;
}

.border{
    width: 100%;
    height: 2px;
    background-color: lightgray;
    margin-top: 30px;
}

.faq{
    margin-top: 40px;
}

.footer{
    width: 100%;
    min-height: 550px;
    background-color: black;
}

.footer-container{
    width: 70%;
    min-height: 450px;
    margin: auto;
    display: flex; 
}

.footer-container2{
    width: 70%;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.footer-border{
    width: 10%;
    height: 2px;
    background-color: lightgrey;
}

.finals-icons{
    margin-top: 60px;
}

.fas{
    color: white;
}

.final-text{
    color: white;
}

.column{
    width: calc(100% / 5);
    height: 450px;
}

.footer-title{
    margin-top: 50px;
}

.h4-footer{
    color: white;
}

.footer-links-container1{
    margin-top: 50px;
}

.footer-links-container{
    margin-top: 20px;
}

.footer-links{
    text-decoration: none;
    color: white;
}

.green{
    background-color: rgb(167, 244, 167);
}

.brown{
    background-color: rgb(168, 58, 58);
}

.azure{
    background-color: rgb(12, 110, 110);
}

.red{
    background-color: rgb(242, 35, 35);
}

.lightblue{
    background-color: rgb(201, 252, 252);
}

.blue{
    background-color: rgb(39, 39, 207);
}

.yellow{
    background-color: rgb(204, 204, 45);
}

