/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 100%;
}

/*HEADER*/
.header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.header-section{
    width: 30%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 75px;
    height: 30px;
}

.header-links{
    text-decoration: none;
    color: rgb(24, 24, 24);
}

.header-button{
    padding: 10px 20px;
    background-color: rgb(61, 61, 169);
    color: white;
}

.jumbotron-container{
    width: 100%;
    min-height: 600px;
    background-color: rgb(201, 252, 252);
}

.jumbotron-title{
    width: 70%;
    height: 150px;
    margin: auto;
    font-size: 30px;
}

.jumbotron{
    width: 70%;
    height: 400px;
    margin: auto;
    display: flex;
}

.jumbotron-text{
    width: 35%;
    height: 500px;
    padding-top: 30px;
    margin-top: 30px;
}

.start-content{
    margin: 60px;
}

.start-link{
    text-decoration: none;
    padding: 15px 30px;
    background-color: rgb(61, 61, 169);
    color: white;
}

.start-content2{
    padding-top: 50px; 
}

.arrow{
    margin-top: 60px;
}

.jumbotron-image{
    width: 65%;
    height: 450px;
}

.jumbo-png{
    position: relative;
    margin-top: 70px;
}

.main-title{
    width: 70%;
    height: 160px;
    margin: auto;
}

.h2{
    padding-top: 50px;
}

.radio-button{
    padding-top:40px
}



.first-main-section{
    width: 70%;
    min-height: 1200px;
    margin: auto;
    background-color: rgb(156, 82, 225);
    display: flex;
    justify-content: space-between;
}


.vertical-column{
    width: calc(100% / 3 - 40px);
    min-height: 1200px;
}

.row{
    width: 100%;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    line-height:50px ;
    text-align: center;
}

.h3-column{
    margin-top: 20px;
    margin-left: 30px;
}

.h4-column{
    margin-left: 30px;
    margin-top: 40px;  
}

.folder{
    margin-left: 30px;
    margin-top: 25px;  
}

.begin1{
    margin-left: 30px; 
    margin-top: 85px;
}

.begin2{
    margin-left: 30px; 
    margin-top: 70px; 
}



.begin3{
    margin-left: 30px;
    margin-top: 55px;
}

.purchase-link{
    margin-left: 30px;
    margin-top: 45px;
}

.first{
    background-color: coral;
}

.second{
    background-color: aquamarine;
}

.third{
    background-color: rgb(205, 33, 33);
}

.second-main-section{
    width: 70%;
    min-height: 400px;
    margin: 40px auto;
    background-color: darkgoldenrod;
}

.third-main-section{
    width: 70%;
    min-height: 600px;
    margin: 40px auto;
    background-color: rgb(125, 14, 14);
    display: flex;
}

.third-section-image{
    width: 65%;
    min-height: 600px;
    background-color: grey;
}

.third-section-text{
    width: 35%;
    min-height: 600px;
    background-color: rgb(212, 61, 212);
}

.fourth-main-section{
    width: 70%;
    height: 100px;
    margin-top: 40px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
}

.fifth-main-section{
    width: 70%;
    min-height: 600px;
    margin: auto;
    background-color: forestgreen;
    display: flex;
    justify-content: space-between;
}

.fifth-column-left{
    width: calc(100% / 3 - 20px);
    min-height: 600px;
    background-color: rgb(152, 69, 230);
}

.fifth-column-center{
    width: calc(100% / 3 - 20px);
    min-height: 600px;
    background-color: aquamarine;  
}

.fifth-column-right{
    width: calc(100% / 3 - 20px);
    min-height: 600px;
    background-color: cornflowerblue; 
}

.sixth-main-section{
    width: 70%;
    min-height: 600px;
    margin-top: 40px;
    margin-bottom: 90px;
    margin-left: auto;
    margin-right: auto; 
    background-color: darkkhaki;
   display: flex; 
   justify-content: space-between;
}

.seventh-main-section{
    width: 70%;
    min-height: 350px;
    margin:auto;
    background-color: dodgerblue;
}

.eighth-main-section{
    width: 100%;
    height: 600px;
    background-color: aqua;
    display: flex;
}

.left{
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: calc(100% / 2);
    height: calc(100 / 2);
}

.division{
    width: calc(100% / 3);
    height: 600px;
}

.center{
    background-color: darkgoldenrod;
}

.right{
    display: flex;
    flex-wrap: wrap; 
}

.ninth-main-section{
    width: 100%;
    min-height: 300px;
    background-color: chartreuse; 
}

.ninth-sub-section{
    width: 70%;
    min-height: 300px;
    margin: auto;
    background-color: bisque;
}

.tithe-main-section{
    width: 60%;
    min-height: 700px;
    margin: auto;
    background-color: coral;
}

.footer{
    width: 100%;
    min-height: 550px;
    background-color: black;
}

.footer-container{
    width: 70%;
    min-height: 450px;
    margin: auto;
    background-color: beige;
    display: flex; 
}

.column{
    width: calc(100% / 5);
    height: 450px;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.grey{
    background-color: grey;
}

.orange{
    background-color: orange;
}

